body {
    background: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    min-block-size: 100vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #310A90;
}

.container {
    inset: 0;
}

#canvas {
    border: 10px double #310A90;
    border-radius: 15px;
}

.controls {
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.button {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    background: white;
    border: 2px solid purple;
    text-decoration: none;
    display: inline-block;
}

.button img {
    vertical-align: middle;
}

.button:hover {
    background: #5151E5;
}

/* #up {
    background-image: url("./images/up.svg");
}

#down {
    background-image: url("./images/down.svg");
}

#left {
    background-image: url("./images/left.svg");
}

#right {
    background-image: url("./images/right.svg");
} */


